<div class="container">
    <div class="jumbotron mt-5">
        <div class="col-sm-8 mx-auto">
            <h1 class="text-center">PROFILE</h1>
        </div>
        <table class="table col-md-6 mx-auto">
            <tr>
                <td>Fist Name</td>
                <td>{{ details?.usu_nombre }}</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>{{ details?.usu_apellido }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ details?.usu_email }}</td>
            </tr>
            <tr>
                <td>Cedula</td>
                <td>{{ details?.usu_cedula }}</td>
            </tr>
        </table>
    </div>
</div>